/* `Basic HTML
----------------------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	color: #999;   /* #333 */
	font: 10px Arial, sans-serif;
}


