/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
	margin:0;
	paggin:0;
}




body {
    background: transparent url("../img/lightning71.jpg") repeat;
}

#container {
  width: 890px;
  height:2000px;
  margin: 0 auto;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em ;
  -webkit-box-shadow: 3px 3px 3px #333;
  -moz-box-shadow: 3px 3px 3px #333;
  padding-top: 35px;
} 


header {
	background: transparent url("../img/album.png") no-repeat top left;
	padding-bottom:20px;
}


#photo1 {
	float:right;
	margin-right:120px;
	margin-top:90px;
}


#photo2 {
	float:right;
	position:relative;
	right:630px;
	top:-300px;
}


#photo3 {
	position:relative;
	top:-690px;
	left:20px;
}


#photo4 {
	position:absolute;
	margin-top: -290px;
	margin-left: 150px;
}


#photo5 {
	 position:absolute;
	 margin-top: -70px;
	 margin-left:-260px;
}


#photo6 {
	 position:absolute; 
}


#zone {
	 float:right;
	 margin-right:105px;
}


#slideshow {
    width: 428px;
    height: 280px;
    position: relative;
	top:5px;
	left:40px;
    overflow: hidden;
	margin-bottom:30px;
}


#slideshow2 {
    width: 275px;
    height: 420px;
    position: relative;
	top:-480px;
	right:260px;
    overflow: hidden;
	margin-bottom:1px;
}


li.list1 {
	float:left;
	list-style-type: none;
}


li.list2 {
	list-style-type:none;
	}

li.list3 {
	float:left;
	list-style-type: none;
}


#linklist2 {
	position:relative;
	top:1px;
	left:0;
}



#preview {
    position: absolute;
}

#preview2 {
    position: absolute;
}


#newspaper {
	position:relative;
/*	top:-932px; for image with border
*/	top:-901px;
    left:470px;
}


iframe {
	position:absolute;
	top:0;
	left:center;
}


.fancybox {
	margin-right:5px;
}


 
 
h1 { 
   font-family:"Neuropol";
   color: #ccc;
   text-shadow:#111 2px 2px 2px;
   font-size: 2em;
   margin-left: 20px;
   padding-top:0;
   }
 
 
h2 { 
   font-family:"Neuropol X Free";
   color:#ccc;
   text-shadow:#900 2px 5px 2px;
   font-size: 4em;
   letter-spacing: 7px;
   margin-left: 150px;
   padding-top:3px;
   }
  
a {
	text-decoration:none;} 
 
 
@font-face{	
    	font-family: "Neuropol";
		src: url("fonts/neuropol.ttf");
}  
 
button {
	font-family:"Neuropol X Free";
	font-size:10px;
}

.button {
	color:#06F;
	}

input {
	font-family:"Neuropol X Free";
	font-size:10px;
	font-weight:bold;
	background-color:;
}

form {
	float: left;
}


#button-text {
	float:right;
	position:fixed;
	top:0;
	right:40px;
}


#song {
	margin-top:1px;
	margin-left:20px;
	font-family:"Neuropol X Free";
}

.song_title {
	color: blue;
}


footer {
	position:absolute;
	margin-top:-370px;
	margin-left:380px;
	
}

































 
 /*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
 
 
html,
button,
input,
select,
textarea {
    color: #222;
} 

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    /*tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
*/
    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
