body {
  transform-style: preserve-3d;
  color: #000;
}


.g {
  padding: 20% 30% 20% 35%;
  top: 50%;
  left: 50%;
}

.cube {
  perspective: 300;
  perspective-origin: 200px 200px;
  transform-origin: 0px 0px 0px;
  transform-style: preserve-3d;
  position: absolute;
  display: block;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  transform: translateZ(0px) rotateX(20deg) rotateY(0deg) rotateZ(0deg); 
}

.cube #back  { 
  transform-origin: 0px 0px 0px;
  transform: translateZ(400px); 
  /* background: hsla(300, 100%, 50%, 0.7); */
  background-color: #000;
  background-image: url("../img/1.png"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}

.cube #front  { 
  transform-origin: 0px 0px 0px;
  /*background: hsla(75, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/2.png");
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}


.cube #left  { 
  transform-origin: 201px 0px 200px;
  transform: rotateY( 90deg ); 
  /*background: hsla(100, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/3.png"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}

.cube #right  { 
  transform-origin: 200px 0px 200px;
  transform: rotateY( -90deg ); 
  /*background: hsla(125, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/1.png"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}


.cube #ground  { 
  transform-origin: 0px -200px 0px;
  transform: rotateX(-90deg) translateY(-600px) translateZ(600px); 
  /* background: hsla(250, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/2.png"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  display: block;
}

.cube #sky  { 
  transform-origin: 0px -200px 0px;
  transform: rotateX(-90deg) translateY(-600px) translateZ(200px); 
  /*background: hsla(200, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/3.png"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 401px;
  height: 401px;
  position: absolute;
  display: block;
}


.cube {
      animation-name: spinCubeWebkit 30s infinite ease-in-out;
              animation: spinCube       30s infinite ease-in-out;
    }


@keyframes spinCubeWebkit {
  0% { transform: perspective(1800px) translateX(-290px) translateY(500px) translateZ(100px) rotateY(20deg) rotateX(45deg); }
  40% { transform: perspective(450px) translateX(-450px) translateY(50px) translateZ(200px)  rotateY(15deg) rotateX(30deg);}
  60% { transform: perspective(620px) translateX(-300px) translateY(-168px) translateZ(300px) rotateY(10deg) rotateX(25deg);}
  100% { transform: perspective(1800px) translateX(-290px) translateY(500px) translateZ(100px) rotateY(20deg) rotateX(45deg);}
}

/*
@-moz-keyframes spinCubeMoz {
        0% { -moz-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); }
      100% { -moz-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); }
    }
*/
