body {
  transform-style: preserve-3d;
  color: #000;
}


.g {
  padding: 20% 30% 20% 35%;
  top: 50%;
  left: 50%;
}

.cube {
  transform-style: preserve-3d;
  perspective-origin: 30px 40px; /* center center;*/
  perspective:  129px; /* 159*/
  transform-origin: 25px 60px -100px; /* 25px 100px 0px;*/
  position: absolute;
  display: block;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: #000;
  /*transform: translateZ(-20px) rotateX(20deg) rotateY(50deg) rotateZ(0deg);*/ /* translateZ(-20px) rotateX(20deg) rotateY(50)*/ 
}

.cube #back  { 
  transform-origin: 0px 0px 0px;
  transform: translateZ(400px); 
  /*background-color: hsla(300, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_negZ.jpg"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}

.cube #front  { 
  transform-origin: 0px 0px 0px;
  /*background-color: hsla(75, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_posZ.jpg"); 
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}


.cube #left  { 
  transform-origin: 201px 0px 200px;
  transform: rotateY( 90deg ); 
  /*background-color: hsla(100, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_negX.jpg");
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}

.cube #right  { 
  transform-origin: 200px 0px 200px;
  transform: rotateY( -90deg ); 
  /*background-color: hsla(125, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_posX.jpg");
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 402px;
  height: 402px;
  position: absolute;
  display: block;
}


.cube #ground  { 
  transform-origin: 0px -200px 0px;
  transform: rotateX(-90deg) translateY(-600px) translateZ(600px); 
  /*background-color: hsla(250, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_negY.jpg");
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  display: block;
}

.cube #sky  { 
  transform-origin: 0px -200px 0px;
  transform: rotateX(-90deg) translateY(-600px) translateZ(200px); 
  /*background-color: hsla(200, 100%, 50%, 0.7);*/
  background-color: #000;
  background-image: url("../img/skybox/sky_posY.jpg");
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 401px;
  height: 401px;
  position: absolute;
  display: block;
}


.cube {
      animation-name: spinCubeWebkit 60s infinite ease-in-out;
      animation: spinCubeWebkit 60s infinite ease-in-out;
    }


@keyframes spinCubeWebkit {
  0% { transform: perspective(350px) translateX(-690px) translateY(250px) translateZ(0px) rotateY(10deg) rotateX(25deg); }
  40% { transform: perspective(450px) translateX(-550px) translateY(300px) translateZ(100px)  rotateY(8deg) rotateX(55deg);}
  60% { transform: perspective(310px) translateX(-350px) translateY(275px) translateZ(200px) rotateY(5deg) rotateX(50deg);}
  100% { transform: perspective(350px) translateX(-690px) translateY(250px) translateZ(0px) rotateY(10deg) rotateX(25deg);}
/*
  0% { transform: perspective(1600px) translateX(90px) translateY(250px) translatez(-200px) rotateY(-25deg) rotateX(10deg) rotateZ(0deg); }
  40% { transform: perspective(780px) translateX(140px)  translateY(450px) translatez(200px)  rotateY(-30deg) rotateX(40deg) rotateZ(0deg);}
  60% { transform: perspective(800px)  translateX(130px) translateY(325px)  translatez(100px) rotateY(-35deg ) rotateX(50deg) rotateZ(0deg);}
  100% { transform: perspective(1600px) translateX(90px)  translateY(250px)  translatez(-200px) rotateY( -25deg ) rotateX(10deg) rotateZ(0deg);}
*/
}

/*
@-moz-keyframes spinCubeMoz {
        0% { -moz-transform: translateZ( -100px ) rotateX(   0deg ) rotateY(   0deg ); }
      100% { -moz-transform: translateZ( -100px ) rotateX( 360deg ) rotateY( 360deg ); }
    }
*/
